* {
  all: unset; //Unsets everything so you can style everything from scratch
  font: 17px "JetBrainsMono Nerd Font";
  font-weight: bold;
}

//Global Styles
.bar {
  background-color: #131617;
  color: #f05971;
  padding-left: 20px;
  padding-right: 20px;
}

.volumepop {
  background-color: #131617;
  color: #f05971;
  border-radius: 15px;
}

.brightnesspop {
  background-color: #131617;
  color: #f05971;
  border-radius: 15px;
}

.batterypop {
  background-color: #131617;
  color: #f05971;
  border-radius: 15px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #f05971;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #272a2b;
  border-radius: 50px;
  min-height: 5px;
  min-width: 50px;
  margin-left: -10px;
  margin-right: 15px;
}
.label-ram {
  font-size: large;
}
.workspaces button:hover {
  color: #e5e9ea;
}
.workspaces button {
  margin-right: 5px;
}
.powermenu {
  margin-left: 60px;
}